@import "../libs/variables";
@import "../libs/mixins";
@import "../components/keyframes.scss";

.header-menu {
    padding: 0;

    .fa-arrow-left {
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 2%;
    transition: transform 400ms;
    
    @media screen and (max-width: 1000px) {
        left: 4%;  
    }

        &:hover {
            transform: scale(1.15);
            color: $primary-purple;
        }
    }

    .header-logo {
        font-size: 28px;
    }

    & a {
        text-decoration: none;
        color: black;
    }
}

.banner img {
    display: block;
    width: 100%;
    max-width: none;
    height: 50vh;
    object-fit: cover;

    @media screen and (max-width: 1000px) {
       height: 30vh;
    }
}

.main-menu {
    border-radius: $menu-radius;
    position: relative;
    margin-top: -30px;
    padding: 0 15rem;
    width: 100%;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1000px) {
        padding: 0 0.7rem;
    }
}

.restaurant-title {
    @include flex-center;
    padding: 0;

    & h2 {
    font-size: 28px; 
    font-weight: 400;  
    }
    
    .fill__heart {
        padding: 0;  
        margin: 0 1rem 0 0;   
        }

    @media screen and (max-width: 1000px) {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
    }
}

.menu-title {
    font-family: $title-font-family;
    margin: 2rem 2.5rem 2rem 0;
}

.grid-menu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.title-heading {
    -webkit-animation: tracking-in-contract-bck-top 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract-bck-top 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


.cards-menu:nth-child(1) .menu-list {
    animation-delay: 0.2s; 
}

.cards-menu:nth-child(2) .menu-list {
    animation-delay: 0.4s; 
}

.cards-menu:nth-child(3) .menu-list {
    animation-delay: 0.5s; 
}

.cards-menu {
    overflow: hidden;
   
    & h3 {
        position: relative;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2rem;
       
        &::after {
            content: '';
            width: 40px;
            height: 4px;
            background: #99e2d0;
            position: absolute;
            z-index: 20;
            left: 0px; bottom: -10px ;
        }        
    }    

.title-list {
    overflow: hidden;
    white-space: nowrap;

    & h4 {
        font-size: 18px;
        @include text-overflow;
    }

    & p {
        font-size: 15px; 
       @include text-overflow;
    }
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 70px;
    padding: 15px;
    margin: 1rem 0.4rem 0.3rem 0.4rem;
    -webkit-animation: menu-in-left 0.5s ease-out backwards;
	animation: menu-in-left 0.5s ease-out backwards;
    
    .menu-list__check {
        background-color: $light-green-bg;
        display: none;
        position: absolute;
        height: 100%;
        padding: 0 15px;
        border-radius: 0 15px 15px 0;
        right: 0;

        .fa-check-circle {
            font-size: 25px;
            color: white;
            transform: rotate(180deg);
            animation: rotate 0.6s both; 
        }
    }
 
    &:hover {
        @include hover
    }

    &:hover .menu-list__check {
        @include flex-center;
        align-items: center;
        animation: slide-left 0.5s ease;
        transform-origin: right;
    }

    &:hover .price {
        padding-right: 50px;
        transition: 0.5s ease;
    }
}
}

.order .button-purple {
    margin: 0;
    margin-bottom: 50px;
}

