@import "../libs/variables";
@import "../libs/mixins";

header {
    position: relative;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 1000px) {
        box-shadow: none;
    }

    .header-logo {
        font-family: $title-font-family;
        font-size: 30px;
        align-items: center;
        @include flex-center;
        height: 63px;
        
        @media screen and (min-width: 1000px) {
            height: 96px;
        }
    }
    
}
