@import "../libs/variables";
@import "../libs/mixins";

.explanation-menu {
    padding: 48px 20px 68px 20px;

    & h2 {
        margin-bottom: 25px;
    }

    @media screen and (min-width: 1000px) {
        padding: 50px 180px;
    }
}

.explanation__steps {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;

    @media screen and (min-width: 1000px) {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .explanation__steps--number {
        @include flex-center;
        align-items: center;
        background: $primary-purple;
        color: #fff;
        border-radius: 50%;
        border: 2px solid $primary-purple;
        width: 25px;
        height: 25px;
        position: relative;
        margin-right: 25px;
        padding: 5px 9px;
        margin-left: -40px;
    }
}

.explanation__steps li {
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 1px 2px 8px 2px #c4c4c4;
    background-color: $light-grey-bg;
    margin-left: 10px;

    @media screen and (min-width: 1000px) {
        width: 100%;
    }

    p {
        @include font-weight-bold;
        margin-left: 27px;
    }
}

.explanation__steps li:hover {
    background: #f2eafb;
    cursor: pointer;
}

.explanation__steps li:hover .fas {
    color: $primary-purple;
}

.explanation__steps--icon {
    color: grey;
    font-size: 1.2rem;
}
